@import url("https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap");

.slider-container {
  height: 60%;
  width: 100%;
  z-index: 10;
  position: absolute;
  top: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Raleway", sans-serif;

  .project-container {
    height: 100%;
    width: 35%;

    .link-video-wrapper {
      height: 70%;
      width: 100%;

      .video {
        height: auto;
        width: 100%;
        object-fit: cover;
      }
    }

    .project-bottom-container {
      height: 30%;
      width: 100%;
      display: flex;

      .project-bottom-left-container {
        height: 100%;
        width: 30%;
        display: flex;
        flex-direction: column;
        opacity: 0;
        transform: translateX(30px);

        .project-title-container {
          height: 70%;
          width: 100%;
          display: flex;
          align-items: center;
          font-weight: 700;
          font-size: 1.5rem;
        }

        .project-date-container {
          height: 30%;
          width: 100%;
          display: flex;
          align-items: center;
          position: relative;

          .project-date-line {
            height: 1px;
            width: 30%;
            background: white;
            margin-right: 5%;
          }

          .project-date {
            font-size: 0.8rem;
          }
        }
      }

      .project-bottom-right-container {
        height: 100%;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .project-description-container {
          width: 80%;
          font-size: 0.8rem;
          line-height: 1.5rem;
          opacity: 0;
          transform: translateX(-30px);
        }

        .project-line {
          height: 0;
          width: 1px;
          position: absolute;
          top: 0;
          left: 0;
          background: white;
        }
      }
    }
  }
}
